<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

<servlet>
<servlet-name>DeveloperLogin</servlet-name>
<servlet-class>DeveloperLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeveloperLogin</servlet-name>
<url-pattern>/DeveloperLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EmpLogin1</servlet-name>
<servlet-class>EmpLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmpLogin1</servlet-name>
<url-pattern>/EmpLogin1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EmpRegister</servlet-name>
<servlet-class>EmpRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmpRegister</servlet-name>
<url-pattern>/EmpRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PlaceAttendance</servlet-name>
<servlet-class>PlaceAttendance</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PlaceAttendance</servlet-name>
<url-pattern>/PlaceAttendance</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddCart</servlet-name>
<servlet-class>AddCart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCart</servlet-name>
<url-pattern>/AddCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteCart</servlet-name>
<servlet-class>DeleteCart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteCart</servlet-name>
<url-pattern>/DeleteCart</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ChoosePayment</servlet-name>
<servlet-class>ChoosePayment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChoosePayment</servlet-name>
<url-pattern>/ChoosePayment</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PaymentVerify</servlet-name>
<servlet-class>PaymentVerify</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PaymentVerify</servlet-name>
<url-pattern>/PaymentVerify</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteProduct</servlet-name>
<servlet-class>DeleteProduct</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteProduct</servlet-name>
<url-pattern>/DeleteProduct</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserLogin1</servlet-name>
<servlet-class>UserLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLogin1</servlet-name>
<url-pattern>/UserLogin1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteComment</servlet-name>
<servlet-class>DeleteComment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteComment</servlet-name>
<url-pattern>/DeleteComment</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminLogin1</servlet-name>
<servlet-class>AdminLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin1</servlet-name>
<url-pattern>/AdminLogin1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserLogin1</servlet-name>
<servlet-class>UserLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLogin1</servlet-name>
<url-pattern>/UserLogin1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>register1</servlet-name>
<servlet-class>register1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>register1</servlet-name>
<url-pattern>/register1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddProduct</servlet-name>
<servlet-class>AddProduct</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddProduct</servlet-name>
<url-pattern>/AddProduct</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PlaceReview</servlet-name>
<servlet-class>PlaceReview</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PlaceReview</servlet-name>
<url-pattern>/PlaceReview</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReviewApk</servlet-name>
<servlet-class>ReviewApk</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReviewApk</servlet-name>
<url-pattern>/ReviewApk</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>InstallApk</servlet-name>
<servlet-class>InstallApk</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>InstallApk</servlet-name>
<url-pattern>/InstallApk</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>InstallApk1</servlet-name>
<servlet-class>InstallApk1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>InstallApk1</servlet-name>
<url-pattern>/InstallApk1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PlaceReview</servlet-name>
<servlet-class>PlaceReview</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PlaceReview</servlet-name>
<url-pattern>/PlaceReview</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeveloperRegister</servlet-name>
<servlet-class>DeveloperRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeveloperRegister</servlet-name>
<url-pattern>/DeveloperRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Fileupload</servlet-name>
<servlet-class>Fileupload</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fileupload</servlet-name>
<url-pattern>/Fileupload</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Fileupload1</servlet-name>
<servlet-class>Fileupload1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fileupload1</servlet-name>
<url-pattern>/Fileupload1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>registration</servlet-name>
<servlet-class>registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>registration</servlet-name>
<url-pattern>/registration</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>CoReview</servlet-name>
<servlet-class>CoReview</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CoReview</servlet-name>
<url-pattern>/CoReview</url-pattern>
</servlet-mapping>

</web-app>